<Project>
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>net5.0</TargetFramework>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <PublishTrimmed>true</PublishTrimmed>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <RuntimeIdentifier Condition="'$(OS)'=='Windows_NT'">win-x64</RuntimeIdentifier>
    <RuntimeIdentifier Condition="'$(OS)'=='Unix'">linux-x64</RuntimeIdentifier>
  </PropertyGroup>
</Project>